<!DOCTYPE html>
<html>
    <head>
        <title>Piχtorio</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    </head>
    <body class="base">
        <div id="wrapper">
            <form id="form" action="{{ url_for('generate_blueprint') }}" method="post" enctype="multipart/form-data">
                <table id="main">
                    <tr>
                        <td colspan="2">
                            <h1>Pi<span id="chi">χ</span>tor<span id="chi">.</span>io</h1>
                            <h3>Image-to-pixel art blueprints for Factorio</h3>
                            <p class="welcome">Welcome!</p>
                            <p>With <b>κ</b> tiles selected, the image you provide will be reduced to <b>κ</b> colors, and each color will be assigned to one of the selected tiles.</p>
                            <p>Higher <b>κ</b> yields more detail. You can select and re-order the tiles in the list below to tune the aesthetics of the resulting blueprint. Have fun!</p>
                        </td>
                    </tr>
                    <tr class="io-rows">
                        <td class="io-labs">
                            Source Image&nbsp;<span class="tooltip">&nbsp;ⓘ&nbsp; <span class="tooltip-text">Max 5MB!</span></span>
                        </td>
                        <td>
                            <input type="file" id="source" name="source" accept=".png,.jpg,.jpeg" required>
                        </td>
                    </tr>
                    <tr class="io-rows">
                        <td class="io-labs">
                            Scale Factor&nbsp;<span class="tooltip">&nbsp;ⓘ&nbsp;<span class="tooltip-text">Bigger Number = More Detail = Larger Blueprint</span></span>
                        </td>
                        <td>
                            <input type="number" size="5" id="scale" name="scale" min="0.01" max="1.00" step="0.01" value="0.40">
                            <span class="dims">&nbsp;bp size →&nbsp;</span><span class="dims" id="width"></span><span class="dims" id="height">&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tiles">
                            <table id="container">
                                <tbody id="sortable">
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="landfill" checked/> <span class="chkbox">Landfill</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="stone-path" checked/> <span class="chkbox">Stone Path</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="concrete" checked/> <span class="chkbox">Concrete</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="hazard-concrete-left" checked/> <span class="chkbox">Hazard Concrete L</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="hazard-concrete-right" checked/> <span class="chkbox">Hazard Concrete R</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="refined-concrete" checked/> <span class="chkbox">Refined Concrete</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="refined-hazard-concrete-left" checked/> <span class="chkbox">Refined Hazard Concrete L</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tile-row">
                                            ᎒᎒᎒ <input type="checkbox" class="checkbox" name="tiles" value="refined-hazard-concrete-right" checked/> <span class="chkbox">Refined Hazard Concrete R</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="preview-holder" id="preview-holder">
                            <div class="preview-label" id="preview-label">Preview</div>
                        </td>
                    </tr>
                    <tr class="generate-row">
                        <td colspan="2">
                            <button type="submit" id="generate" name="generate">Generate Blueprint!</button>
                        </td>
                    </tr>
                    <tr class="output-rows">
                        <td colspan="2">
                            <input type="text" id="bp-string" disabled>
                            <button type="button" id="copy-btn" onclick="copyString()">Copy</button>
                        </td>
                    </tr>
                    <tr class="footer">
                        <td colspan="2">
                            mlgarrett | 2023 | <a href="https://github.com/mlgarrett/pixtorio" target="_blank">github</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    </body>
</html>
