/*
factorio primary colors (approximate)
*/
:root
{
  --lightgray: #8e8e8e;
  --darkgray: #313031;
  --fontlight: #ffffff;
  --fontdark: #000000;
  --fontyellow: #ffe6c0;
  --hovergreen: #7aed81;
  --staticgreen: #5eb663;
  --hoverorange: #e39827;
}

#wrapper
{
  display: flex;
  justify-content: center;
}

td
{
  padding: 5px;
}

body.base
{
  font-family: sans-serif;
  background-color: var(--darkgray);
  color: var(--fontlight);
}

table#main
{
/*  border: 1px dotted black;*/
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 50em;
  table-layout: fixed;
}

table#container
{
  border: 1px solid black;
  background-color: var(--lightgray);
  color: var(--fontdark);
  padding: 5px;
  height: 20em;
  table-layout: fixed;
}

td.tiles
{
  padding: 0 1em;
}

tr.io-rows
{
/*  background-color: var(--lightgray);*/
  color: var(--fontlight);
}

td.io-labs
{
  font-weight: bold;
  text-align: right;
}

td.io-inputs
{
  background-color: var(--lightgray);
  color: var(--fontdark);
}

td.tile-row
{
  border: 1px solid black;
  background-color: var(--staticgreen);
  cursor: pointer;
/*  padding: 5px;*/
  width: 50%;
}

td.tile-row:hover
{
  background-color: var(--hovergreen);
}

h1
{
  color: var(--hoverorange);
  text-align: center;
}

h3
{
  color: var(--fontlight);
  text-align: center;
}

p
{
  color: var(--fontlight);
}

form
{
  background-color: var(--darkgray);
}

/* Tooltip container */
.tooltip
{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip:hover
{
  cursor: default;
}

/* Tooltip text */
.tooltip .tooltip-text
{
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -2px;
  left: 150%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text
{
  visibility: visible;
}

tr.output-rows
{
/*  background-color: var(--lightgray);*/
  text-align: center;
}

tr.generate-row
{
  text-align: center;
}

input#bp-string
{
  width: 25em;
  text-align: center;
  background-color: var(--fontlight);
}

.placeholder
{
  width: 50%;
  background-color: lightyellow;
}

.helper
{
  width: 50%;
}

input::file-selector-button
{
  background-color: var(--lightgray);
}

input::file-selector-button:hover
{
  background-color: var(--hoverorange);
}

button
{
  background-color: var(--lightgray);
}

button:hover:enabled
{
  background-color: var(--hoverorange);
}

p.welcome
{
  color: var(--fontyellow);
  font-weight: bold;
}

tr.footer
{
  text-align: center;
  font-size: small;
  color: var(--fontlight);
}

 /* unvisited link */
a:link {
  color: var(--fontlight);
}

/* visited link */
a:visited {
  color: var(--fontlight);
}

/* mouse over link */
a:hover {
  color: var(--hoverorange);
}

/* selected link */
a:active {
  color: var(--hoverorange);
} 

#chi
{
  color: var(--fontyellow);
}

td.preview-holder
{
  border: 1px dashed var(--fontyellow);
  text-align: center;
  vertical-align: middle;
}

span.dims
{
  font-size: small;
}

.preview-loader
{
  border: 4px solid var(--lightgray);
  border-top: 4px solid var(--hoverorange);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.preview-label
{
  margin: auto;
  display: block;
}
